In [2]:
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.


l=[]

for i in range(2000,3201):
    if i%7==0 and i%5 !=0:
        l.append(i)
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [3]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print( ','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [4]:
for i in range(2000, 3201):
    if (i % 7 == 0) & (i % 5 != 0):
        if i != 3199:
            print(i, end=",")
        else:
            print(i)
# end="\r"  means moving curson to the staring

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [5]:
for i in range(2000, 3201):
    if (i % 7 == 0) & (i % 5 != 0):
        if i != 3200:
            print(i, end=",")
        else:
            print(i, end="")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [6]:
#Question:
#Write a program which can compute the factorial of a given numbers.
#The results should be printed in a comma-separated sequence on a single line.
#Suppose the following input is supplied to the program:
#8
#Then, the output should be:
#40320

def factorial(x):
    if x == 0:
        return 1
    return x * factorial(x - 1)  #recursive call

x=int(input())
print(factorial(x))

6
720

In [7]:
def fact1(x):
    result = 1
    for i in range(1, x + 1):
        result *= i
    return result

x = int(input())
print(fact1(x))

6
720

In [8]:
l=["raman", "iti", "mishra"]
print( '###'.join(l))

raman###iti###mishra

In [9]:
#With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
#Suppose the following input is supplied to the program:
#8
#Then, the output should be:
#{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

n=int(input())
dic={}
for i in range(1,n+1):
    dic[i]=i*i
print(dic)

6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [10]:
#key = 2, value = 4, dict
dict={2:4}
print(dict)
dict[3]=9
dict

{2: 4}

{2: 4, 3: 9}

In [11]:
# count the letter in string
str = "my name is raman"
dict={}
for i in str:
    if i in dict:
        dict[i] += 1
    else:
        dict[i]=1
print(dict)

{'m': 3, 'y': 1, ' ': 3, 'n': 2, 'a': 3, 'e': 1, 'i': 1, 's': 1, 'r': 1}

In [12]:
# count the words

str1 = "my name is raman my"
a = str1.split() # type of a will be list

dict={}
for i in a:
    if i in dict:
        dict[i] += 1
    else:
        dict[i]=1
print(dict)

{'my': 2, 'name': 1, 'is': 1, 'raman': 1}

In [13]:
str1 = "your string here"
a = str1.split(" ")
print(a)

['your', 'string', 'here']

In [14]:
#dont count spaces
str1 = "my name is raman my"
a = list(str1)
dict={}
for i in a:
    if i != ' ':
        if i in dict:
            dict[i] += 1
        else:
            dict[i]=1
print(dict)

{'m': 4, 'y': 2, 'n': 2, 'a': 3, 'e': 1, 'i': 1, 's': 1, 'r': 1}

In [15]:
# write a program which accepts a string from console and print the characters that have even indexes.

#If the following string is given as input to the program:
#H1e2l3l4o5w6o7r8l9d
#Then, the output of the program should be:
#Helloworld

s=input()
s = s[::2]
print(s)

H1e2l3l4o5w6o7r8l9d
Helloworld

In [1]:
#Question:
#Write a program that calculates and prints the value according to the given formula:
#Q = Square root of [(2 * C * D)/H]
#Following are the fixed values of C and H:
#C is 50. H is 30.
#D is the variable whose values should be input to your program in a comma-separated sequence.
#Example
#Let us assume the following comma separated input sequence is given to the program:
#100,150,180
#The output of the program should be:
#18,22,24
#
#Hints:
#If the output received is in decimal form, it should be rounded off to i5ts nearest value (for example, if the output received is 26.0, it should be printed as 26)
#In case of input data being supplied to the question, it should be assumed to be a console input.'''''' 
import math
D = input()
a= D.split(",")
l=[]
for i in a:
    Q = math.sqrt((2*50*int(i))/30)
    a = round(Q)
    c=str(a)
    l.append(c)
print(','.join(l))

45,58,52
12,14,13

In [2]:
import math
user = input()
l=[]
value = [x for x in user.split(",")]   
for i in value:
    l.append(str(round(math.sqrt(((2*50*float(i))/30)))))
print(','.join(l))

45,58,52
12,14,13

In [1]:
# Python3 program to swap first
# and last element of a list

lisit = input()

lst = lisit.split(" ")

def swap(lst):
    
    lenght = len(lst)
    
    temp = lst[lenght-1]
    lst[lenght-1]= lst[0]
    lst[0]=temp
    
    return lst
print(swap(lst))
print( ','.join(swap(lst)))

55 65 23 85 12
['12', '65', '23', '85', '55']
55,65,23,85,12

In [2]:
# Python3 program to swap first
# and last element of a list

lisit = input("Enter elements of the list separated by space: ")

lst = lisit.split(" ")

def swap(lst):
    length = len(lst)
    
    # Swap first and last element
    temp = lst[length - 1]
    lst[length - 1] = lst[0]
    lst[0] = temp
    
    return lst

print(swap(lst))
print( ','.join(swap(lst)))

Enter elements of the list separated by space: 6 5 4
['4', '5', '6']
6,5,4

In [3]:
a=10
b ="%s" % 15
print(b)
type(b)

15

str

In [4]:
  # isalpha isupper islower isdigit
    
#Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
#Suppose the following input is supplied to the program:
#9
#Then, the output should be:
#11106
inpt = int(input())

a =  int("%s" % inpt)
b =  int("%s%s" % (inpt,inpt))
c =  int("%s%s%s" % (inpt, inpt, inpt))
d =  int("%s%s%s%s" % (inpt, inpt, inpt, inpt))
print(a+b+c+d)

9
11106

In [5]:
#Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
#Suppose the following input is supplied to the program:
#Hello world!
#Then, the output should be:
#UPPER CASE 1
#LOWER CASE 9

inp = input()

d ={"uppercase":0 , "lowecase":0}
for i in inp:
    if i.isupper():
        d["uppercase"]=d["uppercase"]+1
    elif i.islower():
        d["lowecase"]=d["lowecase"]+1
print("UPPER CASE ", d["uppercase"])
print("LOWER CASE ", d["lowecase"])

RamaN SHUkla
UPPER CASE  5
LOWER CASE  6

In [6]:
d1= {"a":"e", "b": 2}

In [8]:
d1.items()

dict_items([('a', 'e'), ('b', 2)])

In [9]:
# 𝗥𝗲𝘃𝗲𝗿𝘀𝗶𝗻𝗴 𝘁𝗵𝗲 𝘄𝗼𝗿𝗱𝘀 𝗶𝗻 𝗮 𝘀𝘁𝗿𝗶𝗻𝗴 𝗶𝗻 𝗣𝘆𝘁𝗵𝗼𝗻
#  𝗪𝗿𝗶𝘁𝗲 𝗮 𝗣𝘆𝘁𝗵𝗼𝗻 𝗳𝘂𝗻𝗰𝘁𝗶𝗼𝗻 𝘁𝗼 𝗰𝗼𝘂𝗻𝘁 𝘁𝗵𝗲 𝗻𝘂𝗺𝗯𝗲𝗿 𝗼𝗳 𝘃𝗼𝘄𝗲𝗹𝘀 𝗶𝗻 𝗮 𝗴𝗶𝘃𝗲𝗻 𝘀𝘁𝗿𝗶𝗻𝗴?
#  Find the common letters between two strings:
#  RAMAN
#  SATYA

inp = input()

count=0
a= "aeiouAEIOU"
for i in inp:
    if i in a:
        #count = count +1
        count +=1
    pass
print(count)

eeaiou ramanS
8

In [10]:
inp = input()

s = inp[::-1]
print(s)

ramkkl
lkkmar

In [11]:
a =input()
b=input()

lst =[]

for i in a:
    if i in b:
        lst.append(i)
print(set(lst))

dftg
dftr
{'d', 't', 'f'}

In [13]:
#write a python program to count the frequency of words appearing in a string
#eg. - Iti loves eating apple and mango.Raman also loves eating apple and mango


inp =input()

l = inp.split(" ")

d ={}

for i in l:
    if i != " ":
        pass
    if i in d:
        d[i] +=1
    else:
        d[i]= 1
print(d)

Iti loves eating apple and mango.Raman also loves eating apple and mango
{'Iti': 1, 'loves': 2, 'eating': 2, 'apple': 2, 'and': 2, 'mango.Raman': 1, 'also': 1, 'mango': 1}

In [14]:
 #1. Conversion of two list into Dictionary and tuples Using Python, a = [1,2,3] b=["one","two","three"]
#2. FIND MISSING NUMBER IN AN ARRAY IN PYTHON, a = [1,2,4,5,6,7,8]
#3. Find Out Pairs with given sum value of an array in python of time complexity O(n log n)- 
#FACEBOOK,AMAZON e.g. a = [5,7,4,3,9,8,19,21], sum = 17
#4. Remove Duplicates In Python - with and without using set function
#5. Find Prime numbers list from range 50-120
#6. Find the factorial of numbers from 12-24


a = [1,2,3,4]
b=["one","two","three","hhj"]

dict ={}
l=[]

for i in range(len(a)):
    for j in range(len(b)):
        if j == i:
            dict[a[i]]=b[j]
            l.append((a[i],b[j]))
print(dict, l)

{1: 'one', 2: 'two', 3: 'three', 4: 'hhj'} [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'hhj')]

In [15]:
a = [1,2,3]
b=["one","two","three"]

c = tuple(a)+tuple(b)
print(c)

(1, 2, 3, 'one', 'two', 'three')

In [16]:
a = [1,2,4,5,6,7,8,10]

lst =[]

for i in range(1 , len(a)):
    if i in a:
        pass
    else:
        lst.append(i)
print(lst)

[3]

In [17]:
# Find Out Pairs with given sum value of an array in python of time complexity O(n log n)- 
# FACEBOOK,AMAZON e.g. a = [5,7,4,3,9,8,19,21], sum = 17

dict ={}

b=1  


for i in a:
    for j in a[b::]:
        if i+j == 17:
            dict[i]=j
        b=b+1
print(dict)

{}

In [18]:
 #4. Remove Duplicates In Python - with and without using set function

lst =[2,3,4,5,2,6,7,7,7,8,8,9,4]    

lst1 = set(lst)
print(lst1)

lst2= []

for i in lst:
    if i in lst2:
        pass
    else:
        lst2.append(i)
print(lst2)

{2, 3, 4, 5, 6, 7, 8, 9}
[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
 #Find Prime numbers list from range 50-120
    
prime= []
for i in range(50,121):
    count = 0
    for j in range(2,i):
        if i%j==0:
            count=1  
            break
    if count ==1:
            pass
    else:
        prime.append(i)
print(prime)

[53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113]

In [20]:
#Find the factorial of numbers from 12-24

def fact(number):
    if number == 0:
        return 1
    return number*fact(number-1)

for i in range(12,25):
    print(fact(i))

479001600
6227020800
87178291200
1307674368000
20922789888000
355687428096000
6402373705728000
121645100408832000
2432902008176640000
51090942171709440000
1124000727777607680000
25852016738884976640000
620448401733239439360000

In [21]:
a = [5, 7, 4, 3, 9, 8, 19, 21]
sum_value = 17
pairs = []

for i in range(len(a)):
    for j in range(i + 1, len(a)):
        if a[i] + a[j] == sum_value:
            pairs.append((a[i], a[j]))

print(pairs)

[(9, 8)]

In [22]:
intt = int(input())
count = 0
for i in range(2,intt):
    if intt%i == 0:
        count = 1
        break
if count == 0:
    print("prime")
else:
    print("not prime")

56
not prime

In [23]:
# 1. Length of Last Word - a ="Hi my name is itishukla"
# 2. Find Prime numbers list from range 50-120
# 3. ind Out Pairs with given sum value of an array in python of time complexity O(n log n)- FACEBOOK,AMAZON e.g. a = [5,7,4,3,9,8,19,21], sum = 17
# 4. Find Maximum  Element In list 
# 5. Find Minimum Element In list 
# 6. Reverse words in a string

In [24]:
a ="Hi my name is itishuklaaa is"

b = a.split(" ")

c= b[len(b)-1]

print(len(c))

c[::-1]

2

'si'

In [25]:
l=[]

for i in range(50,121):
    count = 0
    for j in range(2,i):
        if i%j==0:
            count = 1
            break
    if count == 0:
        l.append(i)
print(l)

[53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113]

In [26]:
total = 17
l = []

a = [5,7,4,3,9,8,19,21]


for i in range(len(a)):
    for j in range(i + 1, len(a)):
        if a[i] + a[j] == total:
            l.append((a[i], a[j]))

print(l)

[(9, 8)]

In [27]:
a = [5,121,7,4,3,9,8,19,21,21,23]

b = a[0]

for i in a:
    if i>b:
        b=i
    else:
        pass
print(b)

121

In [28]:
a = [5,7,4,3,9,8,19,21]

b = a[0]

for i in a:
    if i<b:
        b=i
    else:
        pass
print(b)

3

In [29]:
s="raman is"

for i in range(len(s)-1,-1,-1):
    print(s[i], end="")

si namar

In [30]:
s="raman love iti"

l=s.split(" ")

for i in l:
    for j in range(len(i)-1,-1,-1):
        print(i[j], end="")
    print(end=" ")

namar evol iti